.booking{
    border-radius: 50px;
    background: #FDFAE7;
    color: #8A9B97;
    text-align: center;
    padding: 0.5% 0 3% 1%;
    margin: 10% 0 0 149.5%;
    width: 125px;
    height: 30px;
    z-index: -200;
}
section{
    padding: 1% 0 0 13%;
    font-size: 15px;
    letter-spacing: 3px;
    color: #FDFAE7;
}
.date{
    border-radius: 50px;
    border: 2px solid #FDFAE7;
    padding: 0.5% 0 0.5% 2.5%;
    width: 23%;
    height: 15%;
    text-align: left;
    font-weight: 700;
    background-color: #8A9B97;
    letter-spacing: 2px;
    font-size: 17px;
    color: #FDFAE7;
    cursor: pointer;
}
.adult{
    display: inline;
}
.child{
    display: inline;
    margin: 0 0 50% 0;
}
.minus{
    font-size: 32px;
    font-weight: 900;
    padding: 0 0 0 2%;
    text-align: right;
}
.num{
    font-size: 30px;
    font-weight: 900;
    padding: 0 0 0 1%;
}
.plus{
    font-size: 32px;
    font-weight: 900;
    padding: 0 0 0 1%;
    text-align: left;
}
.btn{
    cursor: pointer;
    user-select: none;
}
.oval_btn{
    border-radius: 40px;
    border: 2px solid #FDFAE7;
    padding: 0.5% 3%;
    width: 10%;
    height: 5%;
    text-align: center;
}
aside{
    padding: 0 0 0 0;
}
.person1{
    position: absolute;
	z-index: 100;
	padding: 0 0 0 78.5%;
	width: 268px;
    height: 304px;
    display: none;
}
.person2{
    position: absolute;
	z-index: 200;
	padding: 0 0 0 69.5%;
	width: 193px;
    height: 2p302;
    display: none;
}
.person3{
    position: absolute;
	z-index: 300;
	padding: 0 0 0 57%;
	width: 207px;
    height: 304px;
    display: none;
}
.addPerson1{
    position: absolute;
	z-index: 100;
	width: 268px;
    height: 304px;
    animation-name: person1_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.addPerson2{
    position: absolute;
	z-index: 200;
	width: 193px;
    height: 302px;
    animation-name: person2_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.addPerson3{
    position: absolute;
	z-index: 300;
	width: 207px;
    height: 304px;
    animation-name: person3_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.removePerson1{
    position: absolute;
	z-index: 100;
	width: 268px;
    height: 304px;
    animation-name: person1_out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.removePerson2{
    position: absolute;
	z-index: 200;
	width: 193px;
    height: 302px;
    animation-name: person2_out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.removePerson3{
    position: absolute;
	z-index: 300;
	width: 207px;
    height: 304px;
    animation-name: person3_out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes person1_in {
    from {padding: 0 0 0 100%;}
    to{padding: 0 0 0 78.5%;}
}
@keyframes person2_in {
    from {padding: 0 0 0 100%;}
    to{padding: 0 0 0 69.5%;}
}
@keyframes person3_in {
    from {padding: 0 0 0 100%;}
    to{padding: 0 0 0 57%;}
}
@keyframes person1_out {
    from {padding: 0 0 0 78.5%;}
    to{padding: 0 0 0 100%;}
}
@keyframes person2_out {
    from {padding: 0 0 0 69.5%;}
    to{padding: 0 0 0 100%;}
}
@keyframes person3_out {
    from {padding: 0 0 0 57%;}
    to{padding: 0 0 0 100%;}
}