.booking{
    border-radius: 50px;
    background: #FDFAE7;
    color: #8A9B97;
    text-align: center;
    padding: 0.5% 0 3% 1%;
    margin: 11.5% 0 0 53.5%;
    width: 125px;
    height: 30px;
}
section{
    padding: 2% 0 0 13%;
    font-size: 17px;
    letter-spacing: 3px;
    color: #FDFAE7;
}
.date{
    border-radius: 50px;
    border: 2px solid #FDFAE7;
    padding: 0.5% 0 0.5% 2.5%;
    width: 23%;
    height: 15%;
    text-align: left;
    font-weight: 700;
    background-color: #8A9B97;
    letter-spacing: 2px;
    font-size: 17px;
    color: #FDFAE7;  
}
.adult{
    display: inline;
}
.child{
    display: inline;
    margin: 0 0 50% 0;
}
.minus{
    font-size: 32px;
    font-weight: 900;
    padding: 0 0 0 2%;
    text-align: right;
}
.num{
    font-size: 30px;
    font-weight: 900;
    padding: 0 0 0 1%;
}
.plus{
    font-size: 32px;
    font-weight: 900;
    padding: 0 0 0 1%;
    text-align: left;
}
.btn{
    cursor: pointer;
    user-select: none;
}
.oval_btn{
    border-radius: 40px;
    border: 2px solid #FDFAE7;
    padding: 0.5% 3%;
    width: 10%;
    height: 5%;
    text-align: center;
}