.img_a {
	position: absolute;
	z-index: 200;
	float: left;
	padding: 15% 0 0 6%;
	width: 251px;
	height: 370px;
	overflow: hidden;
}

.img_b {
	position: absolute;
	z-index: 100;
	float: left;
	padding: 15% 0 0 18%;
	width: 332px;
	height: 372px;
	overflow: hidden;
}

article {
	float: right;
    padding: 6.5% 9% 0 44.5%;
    font-size: 22px;
    font-family: Noto Sans CJK TC;
    font-weight: 500;
    color: #FDFAE7;
    line-height: 30px;
	letter-spacing: 6px;
	text-align: justify;
}