article {
	float: right;
    padding: 6.5% 9% 0 44.5%;
    font-size: 22px;
    font-family: Noto Sans CJK TC;
    font-weight: 500;
    color: #FDFAE7;
    line-height: 30px;
	letter-spacing: 6px;
	text-align: justify;	
}