@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
		font-family: 'Noto Sans TC';
}
body {
	background-color: #8A9B97;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
header{
	font-size: 10px;
	letter-spacing: 3px;
}
.header_a {
	float: right;
	padding: 0 0 0 0;
	display: inline-block;
}
.header_b {
	float: right;
	padding: 0 2% 0 ;
	display: inline-block;
}
nav {
    	width: 100%;
    	display: inline-block;
}
a{
	text-decoration: none;
	color: #FDFAE7;
	user-select: none;
}
ul {
	list-style-type: none;
	margin: 0 10% 0 10%;
	padding: 0.5% 3% 0 0.5%;
	overflow: hidden;
	background-color: #8A9B97;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: #FDFAE7;
}
li {
	float: left;
	width: 20%;
	letter-spacing: 4px;
}

li a {
	display: block;
	text-align: center;
	padding: 7% 0;
	text-decoration: none;
	width: 100%;
	/*transition: background-color, color 0.5s;*/

}
/*li a:active{
	background-color: #FDFAE7;
	color:#8A9B97;
}*/
.nav_l {
	font-size: 23px;
	padding: 12% 0 0 15%;
	text-align: left;
}
.nav_m {
	font-size: 49px;
	font-weight: 900;
	padding: 0 0 5% 12%;
}
.nav_r {
	font-size: 23px;
	padding: 12% 0 0 4%;
	text-align: right;
}
